mat-card-title {
    align-items: center;
}

.stat {
    color: white;
    border-radius: 25px;
    width: fit-content;
    font-size: 1rem;
    margin-right: 8px;
    background-color: black;
}

.stat.winner {
    background-color: rgb(37 155 31);
}

.stat.loser {
    background-color: red;
}



@media (min-width: 768px) {
    #trackBtn {
        margin-top: 12px;
    }

    mat-form-field {
        padding: 0px !important;
    }

    .team-list {
        padding: 0px;
    }
}