<mat-card>
    <mat-card-header class="row">
        <mat-card-title class="row"> 
            <div class="col-11">{{ team?.full_name }} [{{ team?.abbreviation }}]</div>
            <button mat-icon-button class="col" (click)="onCloseCard()" id="remove{{team?.abbreviation}}">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-subtitle> {{ team?.conference }} conference </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="row">
        <div class="col-9">
            <div class="row mb-1"> Results of past 12 days:</div>                                                              
            <div class="row mb-3">
                <ng-container *ngFor="let game of $games | async">
                    <div class="stat" appResultColor [game]="game" [teamId]="team?.id??-1"> {{ calculateResult(game) | gameStat }} </div>
                </ng-container>
            </div>
            <div class="row"> Avg pts scored: <strong class="col">{{ avgScored }}</strong> </div>
            <div class="row"> Avg pts conceded: <strong class="col">{{ avgConceded }}</strong> </div>
        </div>
        <img class="col-3" [src]="logoUrl">
    </mat-card-content>
    <mat-card-actions class="row">
        <button class="col-4 pl-3" mat-raised-button id="result{{team?.abbreviation}}" routerLink="/results/{{team?.id}}"> {{ buttonText }} </button>
    </mat-card-actions>
</mat-card>